/* .footer {
    min-height: 10px;
    position: relative;
    text-align: center;
  } */
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100;
    padding: 10px 0px 10px 0px;
    text-Align: center;
    color: black;
    font-Size: 12px;
    background-Image: linear-gradient(to right,  #cb2d3e, #e65337);
  }

  .footer-link {
    color: white;
  }
  .footer-link:hover {
    color: #bfbfbf;
  }